# [true | false] (default: false)
# lombok.equalsAndHashCode.doNotUseGetters = true

# [call | skip | warn] (default: warn)
# lombok.equalsAndHashCode.callSuper = call

# [warning | error] (default: not set)
# lombok.equalsAndHashCode.flagUsage = error

# [warning | error] (default: not set)
# lombok.data.flagUsage = error

# [warning | error] (default: not set)
# lombok.value.flagUsage = error

### Builder Configuration Keys

# [warning | error] (default: not set)
# lombok.builder.flagUsage = error

# [true | false] (default: false)
# lombok.singular.useGuava = false

# [true | false] (default: true)
# lombok.singular.auto = true

### @ToString Configuration Keys

# [call | skip | warn] (default: skip)
# lombok.toString.callSuper = call

# [true | false] (default: true)
# lombok.toString.includeFieldNames = false

# [true | false] (default: false)
# lombok.toString.doNotUseGetters = true

# [warning | error] (default: not set)
# lombok.toString.flagUsage = error


## Log Configuration Keys
# an identifier (default: log).
lombok.log.fieldName = log

# [true | false] (default: true)
lombok.log.fieldIsStatic = true

# [warning | error] (default: not set)
# lombok.log.flagUsage = error

# [warning | error] (default: not set)
# lombok.log.apacheCommons.flagUsage = error

# [warning | error] (default: not set)
# lombok.log.flogger.flagUsage = error

# [warning | error] (default: not set)
# lombok.log.jbosslog.flagUsage = error

# [warning | error] (default: not set)
# lombok.log.javaUtilLogging.flagUsage = error

# [warning | error] (default: not set)
# lombok.log.log4j.flagUsage = error

# [warning | error] (default: not set)
# lombok.log.log4j2.flagUsage = error

# [warning | error] (default: not set)
# lombok.log.slf4j.flagUsage = error

# [warning | error] (default: not set)
# lombok.log.xslf4j.flagUsage = error

# [warning | error] (default: not set)
# lombok.var.flagUsage = error

# [warning | error] (default: not set)
# lombok.val.flagUsage = error

# [warning | error] (default: not set)
# lombok.sneakyThrows.flagUsage = error